$colorMap: (
  blue: $bg-blue,
  orange: $bg-orange,
  green: $bg-green,
);

@each $key, $color in $colorMap {
  .bg-#{$key} {
    background-color: $color;
    border: 2px solid scale-color($color, $lightness: -50%);
  }
}

@mixin btn() {
  font-family: inherit;
  font-size: $fs-xl;
  border-radius: 10px;
}
