@mixin floating($borderRadius: 10px, $boxShadow: 0px 0px 20px, $border: 1px solid rgb(252, 226, 226)) {
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  border: $border;
}

$text-time: surprise 2s 1s both;
$img-time: surprise 4s 2s both;
$cards-time: surprise 6s 2.5s both;

@mixin comparsa($height) {
  @keyframes surprise {
    0% {
      transform: translate(0px, $height);
      opacity: 0;
    }
    100% {
      transform: translate(0px);
      opacity: 1;
    }
  }
}
